$base-color:#001f3f;
$base-color-opacity: rgba(#12406d, 1);
$base-white: white;
$icon-color: #EEEEEE;

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: $icon-color;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
