@import 'src/styles.scss';

.toolsBarWrapper {
  width: calc(100% - 290px);
  height: 70px;
  background-color: $base-white;
  position: absolute;
  border-top: 4px solid $base-color;
  border-bottom-right-radius: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .addIcon {
    margin-left: 5%;
    transition-duration: 0.3s;
  }
  .addIcon:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  .searchBarContainer {
    margin-left: 40%;
    transform: translate(-50%);
    border-radius: 90px;
    padding: 7px;
    width : 30%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $icon-color;
    transition-duration:  0.3s;
    .searchBar {
      background-color: $icon-color;
      border-radius: 90px;
      border: 0;
      width: 100%;
    }
    .searchIcon {
      padding: 5px;
      fill: $base-color;
    }
  }
  .searchBarContainer:hover {
    border: 2px solid $base-color;
    margin-left: 40%;
    transform: translate(-50%) scale(1.1);
  }
  .active {
    border: 2px solid $base-color;
    margin-left: 40%;
    transform: translate(-50%) scale(1.1);
  }
}


