@import 'src/styles.scss';

.headerWrapper {
  height: 70px;
  width: 100%;
  box-shadow: 1px 1px black;
  background-color: $base-white;
  .logoWrapper {
    width: 270px;
    display: flex;
    justify-content: center;
    .logo {
      width: 80px;
    }
  }
}
